.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

# Prisma
/generated/
*.db
*.db-journal

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# Storybook
/storybook-static/
