app = "personal-app-template-sqlite-fly-io"
primary_region = "iad"
swap_size_mb = 512

[env]
  DATABASE_URL = "file:/data/sqlite.db"
  HOST = "0.0.0.0"
  NODE_ENV = "production"

[mounts]
  source = "data"
  destination = "/data"

[[http_service.checks]]
  grace_period = "60s"
  interval = "15s"
  method = "GET"
  path = "/healthcheck"
  timeout = "5s"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = "requests"
    soft_limit = 80
    hard_limit = 100
