app = "production-app-template"
primary_region = "iad"

[env]
  NODE_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = "requests"
    soft_limit = 200
    hard_limit = 250

[[http_service.checks]]
  grace_period = "30s"
  interval = "10s"
  method = "GET"
  path = "/healthcheck"
  timeout = "5s"

[deploy]
  strategy = "canary"
